

        body{
          background-color: black;
        }
        h1{
            font-size: 65px;
            color: orange;
            font-family: sans-serif;
        }
        ul{
            background-color: pink;
        }
        p{
          font-weight: 600;
          font-size: 3em;

        }
        body{
          font-size: 16px;
        }

        .fundinho{
            background-color: deeppink;

        }
        #a{
          background-color: yellow;
          font-style: oblique;
        }
        #v{
          background-color: red;
          line-height: 50px;
          text-decoration: cyan;
        }
        #m{
          background-color: brown;
          text-align: center;
        }